@use "layout";
@use "income-expenses";
@use "expenses";
@use "login";
@use "signup";
@import url('datatables.net-dt');


@mixin containerBody {
    margin-top: 80px;
    padding-left: 61px;
    margin-left: unset;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: RobotoMedium, sans-serif;
    color: #052c65;
}

@font-face {
    font-family: 'SecretService';
    src: url('../fonts/SecretService-Regular.ttf') format('truetype'),
    url('../fonts/SecretService-Regular.woff') format('woff'),
    url('../fonts/SecretService-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: RobotoMedium;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

.datepicker {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .datepicker-days {
        .table-condensed {
            .prev {
                font-size: 20px;
            }
            .next {
                font-size: 20px;
            }
        }
    }
}
.main {
    .container {
        @include containerBody;

        .main_title {
            font-size: 40px;
            margin-bottom: 40px;
        }

        .main_switch {
            flex-wrap: wrap;
            //margin-bottom: 40px;

            label.btn {
                border-radius: 6px;
                width: 100px;
                flex: unset;
            }

            button {
                width: 100px;
            }

            .main_switch-data {
                align-items: center;
                justify-items: center;

                input.datepicker {
                    border: none;
                    outline: none;
                    width: 100px;
                    text-align: center;
                    cursor: pointer;

                    &::placeholder {
                        text-decoration-line: underline;
                        text-decoration-skip-ink: none;
                    }
                }
            }
        }

        .main_chartPies {
            margin-top: 80px;
            justify-content: start;

            .main_chartPies-left {
                max-width: 100%;
                margin-right: 85px;

                .main_chartPies-left_title {
                    margin-bottom: 40px;
                    font-size: 28px;
                    color: #290661;
                }

            }

            .main_chartPies-right {
                margin-left: 85px;

                .main_chartPies-right_title {
                    margin-bottom: 40px;
                    font-size: 28px;
                    color: #290661;
                }

                #myPieChart-right {
                    //height: 414px;
                }
            }

            .main_chartPies-vr {
                width: 1px;
                height: 340px;
                background: #D9D9D9;
                margin-top: auto;
            }
        }
    }
}

.incomeList {
    .container {
        @include containerBody;

        .incomeList_title {
            font-size: 40px;
            margin-bottom: 40px;
        }

        .incomeList_content {
            gap: 20px 20px;

            .card {
                border-radius: 12px;
                border: 1px solid #CED4DA;

                .card_body {
                    padding: 20px 20px 20px 20px;
                    min-width: 360px;

                    .card_title {
                        font-size: 28px;
                        color: #290661;
                        line-height: 1;
                        margin-bottom: 10px;
                    }

                    .card_action {
                        gap: 10px;

                        .card_action_btn {
                            font-size: 14px;
                            text-align: center;
                        }
                    }

                    .card_plus-text {
                        color: #CED4DA;
                        font-size: 28px;
                        cursor: pointer;
                        text-decoration: none;
                        min-width: 60px;
                    }
                }
            }

            .card.card_plus {
                flex-direction: row;
                align-items: center;

                .card_body.card_plus {
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }
    }

}

.popup-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .popup {
        margin: 40px auto 0 auto;
        padding: 40px;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 0 10px #000;
        position: fixed;
        top: calc(50% - 20px); // 20 (половина) размера самого элемента
        left: calc(50% - 50px);
        //top: 50%;
        //left: 50%;
        transform: translate(-50%, -50%);

        span {
            font-size: 20px;
            color: #290661;
            max-width: 450px;
            display: inline-block;
            white-space: normal; /* разрешаем перенос строк */
        }

        .popup_action {
            margin-top: 20px;
        }
    }

}
.popup-container2 {
    //display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .popup {
        margin: 40px auto 0 auto;
        padding: 40px;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 0 10px #000;
        position: fixed;
        top: calc(50% - 20px); // 20 (половина) размера самого элемента
        left: calc(50% - 50px);
        //top: 50%;
        //left: 50%;
        transform: translate(-50%, -50%);

        span {
            font-size: 20px;
            color: #290661;
            max-width: 450px;
            display: inline-block;
            white-space: normal; /* разрешаем перенос строк */
        }

        .popup_action {
            margin-top: 20px;
        }
    }

}


.incomeCreate {
    .container {
        @include containerBody;

        .incomeCreate_title {
            font-size: 40px;
            margin-bottom: 40px;
        }

        .incomeCreate_content {

            .incomeCreate_input {
                width: 397px;

                &::placeholder {
                    color: #6C757D;
                }
                &:focus {
                    box-shadow: none;
                }
            }

            .incomeCreate_action {
                gap: 10.5px;
                margin-top: 20px;

            }
        }
    }
}

.incomeEdit {
    .container {
        @include containerBody;

        .incomeEdit_title {
            font-size: 40px;
            margin-bottom: 40px;
        }

        .incomeEdit_content {

            .incomeEdit_input {
                width: 397px;

                &::placeholder {
                    color: #6C757D;
                }
                &:focus {
                    box-shadow: none;
                }
            }

            .incomeEdit_action {
                gap: 10.5px;
                margin-top: 20px;

            }
        }
    }
}
