<section class="income-expenses-new">
    <div class="container">
        <div class="income-expenses-new_title">Доходы и расходы</div>
        <div class="income-expenses-new_content d-flex flex-column" id="incomeExpensesNew_content">
            <div class="col-md-4 mb-2">
                <select class="form-control" id="incomeExpensesNew_typeSelect">
                    <option value="0" disabled selected hidden>Тип..</option>
                    <option value="income">Доход</option>
                    <option value="expense">Расход</option>
                </select>
            </div>
            <div class="col-md-4 mb-2">
                <select class="form-control" id="incomeExpensesNew_categorySelect"></select>
                <span id="incomeExpensesNew_categorySelect-error" class="error invalid-feedback">Пожалуйста заполните поле</span>
            </div>
            <div class="col-md-4 mb-2">
                <input type="number" class="form-control income-expenses-new_inputAmount" id="incomeExpensesNew_amount"
                       placeholder="Сумма в $...">
                <span id="incomeExpensesNew_amount-error" class="error invalid-feedback">Пожалуйста заполните поле</span>
            </div>
            <div class="col-md-4 mb-2">
                <input type="text" class="form-control datepicker income-expenses-new_inputDate" id="incomeExpensesNew_date"
                       placeholder="Дата...">
                <span id="incomeExpensesNew_date-error" class="error invalid-feedback">Пожалуйста заполните поле</span>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control income-expenses-new_inputComment" id="incomeExpensesNew_comment"
                       placeholder="Комментарий...">
                <span id="incomeExpensesNew_comment_date-error" class="error invalid-feedback">Пожалуйста заполните поле</span>
            </div>

            <div class="income-expenses-new_action d-flex mt-1 gap-2">
                <button type="button" class="btn btn-success me-1" id="incomeExpensesNewCreateBtn">Создать</button>
                <a href="/income-expenses" class="btn btn-danger" id="incomeExpensesNewCancelBtn">Отмена</a>
            </div>
        </div>
    </div>
</section>
