<section class="main">
    <div class="container">
        <div class="main_title">Главная</div>
        <div class="main_switch btn-group d-flex gap-3" role="group" aria-label="Basic radio toggle button group" >
            <input type="radio" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio0">Сегодня</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio1">Неделя</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio2">Месяц</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
            <label class="btn btn-outline-secondary" for="btnradio3">Год</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio4">Все</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btnradio5">Интервал</label>

            <div class="main_switch-data d-flex">
                <label for="startDate">с</label>
                <input type="text" class="datepicker" placeholder="Дата" id="startDate">
                <label for="endDate">по</label>
                <input type="text" class="datepicker" placeholder="Дата" id="endDate">
            </div>
        </div>
        <div class="main_chartPies d-flex">
            <div class="main_chartPies-left text-center">
                <div class="main_chartPies-left_title">Доходы</div>
                <canvas id="myPieChart-left" width="340" height="340"></canvas>
            </div>
            <div class="main_chartPies-vr"></div>
            <div class="main_chartPies-right text-center">
                <div class="main_chartPies-right_title">Расходы</div>
                <canvas id="myPieChart-right" width="340" height="340"></canvas>
            </div>
        </div>
    </div>
</section>
