<section class="incomeCreate">
  <div class="container">
    <div class="incomeCreate_title">Создание категории доходов</div>
    <div class="incomeCreate_content d-flex flex-column" id="incomeCreate_content">
      <input type="text" class="form-control incomeCreate_input" id="incomeCreate_input" placeholder="Название..">
      <span id="incomeCreate_input-error" class="error invalid-feedback">Заполните поле</span>
      <div class="incomeCreate_action d-flex">
        <button type="button" class="btn btn-success" id="incomeCreateBtn">Создать</button>
        <a href="/income" class="btn btn-danger" id="incomeCancelBtn">Отмена</a>
      </div>
    </div>
  </div>
</section>