<section class="incomeEdit">
    <div class="container">
        <div class="incomeEdit_title">Редактирование категории доходов</div>
        <div class="incomeEdit_content d-flex flex-column" id="incomeEdit_content">
            <input type="text" class="form-control incomeEdit_input" id="incomeEdit_input" placeholder="Название..">
            <span id="incomeEdit_input-error" class="error invalid-feedback">Заполните поле</span>
            <div class="incomeEdit_action d-flex">
                <button type="button" class="btn btn-success" id="incomeEditSaveBtn">Сохранить</button>
                <a href="/income" class="btn btn-danger" id="incomeEditCancelBtn">Отмена</a>
            </div>
        </div>
    </div>
</section>