<section class="expensesEdit">
    <div class="container">
        <div class="expensesEdit_title">Редактирование категории расходов</div>
        <div class="expensesEdit_content d-flex flex-column" id="expensesEdit_content">
            <input type="text" class="form-control expensesEdit_input" id="expenseEdit_input" placeholder="Название..">
            <span id="expenseEdit_input-error" class="error invalid-feedback">Заполните поле</span>
            <div class="expensesEdit_action d-flex">
                <button type="button" class="btn btn-success" id="expenseEditSaveBtn">Сохранить</button>
                <a href="/expenses" class="btn btn-danger" id="expensesEditCancelBtn">Отмена</a>
            </div>
        </div>
    </div>
</section>