<section class="expensesList">
    <div class="container">
        <div class="expensesList_title">Расходы</div>
        <div class="expensesList_content d-flex flex-wrap" id="expensesList_content">

        </div>
    </div>
    <div class="popup-container" id="popupContainer">
        <div class="popup">
            <span>Вы действительно хотите удалить категорию?</span>
            <div class="popup_action d-flex justify-content-center gap-2">
                <button type="button" class="btn bg-success" id="popupDelete">Да, удалить</button>
                <button type="button" class="btn bg-danger" id="popupNotDelete">Не удалять</button>
            </div>
        </div>
    </div>
</section>